nav {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vw;
  align-items: center;
  border-bottom: 0.15vh solid var(--grey);

  ul {
    display: flex;
    gap: 1vw;
    li {
      a {
        text-decoration: none;
        color: black;
        transition: all 0.3s ease-in-out;
        font-size: 1.5rem;
        position: relative;
        &:hover {
          color: var(--black);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.15vh;
          bottom: -0.5vh;
          left: 0;
          background-color: var(--black);
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
  input {
    border: none;
    background-color: var(--secondaryWhite);
    padding: 1.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
    position: relative;
    left: 15rem;
    font-size: 1.5rem;
    &:focus {
      outline: none;
      border: 2px solid var(--redAccent);
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Hover style for the icon links */
    a:hover {
      color: var(--redAccent);
    }
    .wishlist_badge,
    .cart_badge {
      background-color: var(--redAccent);
      color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      top: -5px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  margin-right: 1rem;
}
.topBanner {
  background-color: var(--black);
  color: white;
  font-size: 1.4rem;
  padding: 1rem 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topBanner p {
  margin: 0;
  font-weight: 400;
}

.shopNow {
  color: white;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 0.3rem;
}

.language {
  position: absolute;
  right: 5vw;
  font-size: 1.1rem;
  cursor: pointer;
}
