nav {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vw;
  align-items: center;
  border-bottom: 0.15vh solid var(--grey);
  h1 {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 1vw;
    li {
      a {
        text-decoration: none;
        color: black;
        transition: all 0.3s ease-in-out;
        font-size: 1.5rem;
        position: relative;
        &:hover {
          color: var(--redAccent);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.15vh;
          bottom: -0.5vh;
          left: 0;
          background-color: var(--redAccent);
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }
        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
  input {
    border: none;
    background-color: var(--secondaryWhite);
    padding: 1.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
    position: relative;
    left: 15rem;
    font-size: 1.5rem;
    &:focus {
      outline: none;
      border: 2px solid var(--redAccent);
    }
  }
  .icons {
    li {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      display: flex;
      align-items: center;
      &:hover {
        color: var(--redAccent);
      }
      .cart_badge {
        background-color: var(--redAccent);
        color: white;
        padding: 0.25vh 0.5vw;
        border-radius: 100px;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 0.25rem;
      }
    }
  }
}
