.container {
  padding: 5vh 10vw;
  background-color: var(--primaryWhite);
  min-height: 80vh;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  .cart_content {
    .cart_table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 4vh;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      th,
      td {
        padding: 2rem 2vw;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid var(--grey);
      }
      thead {
        box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
        font-size: 2rem;
        font-weight: bold;
      }
      td {
        font-size: 1.7rem;
      }
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 1vw;
      }
      a {
        text-decoration: none;
        color: inherit;
        transition: all 0.2s ease-in-out;
        position: relative;
        &:hover {
          color: var(--redAccent);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.15vh;
          bottom: -0.5vh;
          left: 0;
          background-color: var(--redAccent);
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out;
        }
        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
      .remove {
        color: var(--redAccent);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: var(--hoverButton);
          transform: scale(1.25) rotate(10deg);
        }
      }
    }
    .quantity_selector {
      padding: 0.5rem;
      border: 1px solid var(--grey);
      border-radius: 5px;
      background: white;
      cursor: pointer;
    }
    /* .coupon_section {
      display: flex;
      gap: 1vw;
      margin-top: 3vh;
      input {
        padding: 1.5rem;
        font-size: 1.7rem;
        border: 1px solid var(--grey);
        border-radius: 5px;
        width: 250px;
      }
    } */
    .cart_total {
      width: 30%;
      border: 1px solid var(--grey);
      padding: 2.5vh;
      border-radius: 10px;
      background: white;
      margin-top: 3vh;
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 2vh;
      }
      p {
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--grey);
        padding-bottom: 1.5vh;
        margin-bottom: 1.5vh;
        span {
          font-weight: bold;
        }
      }
      .proceed_checkout {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      .cart_total {
        width: 100%;
      }
    }
  }
}

.modal_buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
