.categorySection {
  padding: 5vh 5vw;
}

.categoryHeader {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: 2vh;
}

.categoryRectangle {
  width: 0.5vw;
  height: 2vh;
  background-color: var(--redAccent);
  border-radius: 10px;
}

.categoryText {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--redAccent);
}

.categoryTitle {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5vh;
  color: var(--black);
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1vw;
  justify-items: center;
  max-width: 100%;
  width: 100%;
}

.categoryButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.5vh 0;
  border-radius: 10px;
  border: 0.2vh solid var(--grey);
  background-color: var(--primaryWhite);
  font-size: 1.5vh;
  transition: all 0.3s ease;
  cursor: pointer;
}

.categoryButton:hover,
.active {
  background-color: var(--redAccent);
  color: var(--primaryWhite);
  border-color: var(--redAccent);
  box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5);
  transform: scale(1.05);
}

.categoryIcon {
  font-size: 3.5vh;
  margin-bottom: 2vw;
}
