nav {
  display: flex;
  padding: 2vh 15vw;
  justify-content: space-between;
  background-color: grey;
  h1 {
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 20px;
    > :hover {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      color: red;
    }
  }
}
